@model List<BillPayViewModel>
@{ ViewData["Title"] = "BillPay"; }

<h1>BillPay</h1>
<h2>All scheduled</h2>
@if (Model.Count > 0)
{ 
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(x => Model[0].BillPayID)</th>
                <th scope="col">@Html.DisplayNameFor(x => Model[0].AccountNumber)</th>
                <th scope="col">@Html.DisplayNameFor(x => Model[0].PayeeID)</th>
                <th scope="col">@Html.DisplayNameFor(x => Model[0].ScheduledTimeUtc)</th>
                <th scope="col">@Html.DisplayNameFor(x => Model[0].Period)</th>
                <th scope="col">@Html.DisplayNameFor(x => Model[0].BillPayStatus)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BillPayViewModel b in Model)
            {
                <tr>
                    <td>@b.BillPayID</td>
                    <td>@b.AccountNumber</td>
                    <td>@b.PayeeID</td>
                    <td>@b.ScheduledTimeUtc</td>
                    <td>@b.Period</td>
                    <td>@b.BillPayStatus</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>You have no scheduled BillPays.</p>
}
<a asp-action="Schedule" class="btn btn-primary">Schedule new</a>
<a asp-controller="Dashboard" asp-action="Index">Go back to accounts</a>