@model BillPayScheduleViewModel
@{ ViewData["Title"] = "Schedule BillPay"; }

<div class="border rounded p-5">
    <h1 class="mb-5">Schedule BillPay</h1>
    <form asp-action="ConfirmSchedule">
        <fieldset class="mb-4">
            <legend class="h4">From</legend>
            <div class="btn-group-vertical w-100 mt-1" role="group">
                @foreach (var a in Model.AccountViewModels)
                {
                    <input type="radio" class="btn-check" autocomplete="off"
                           asp-for="AccountNumber" value="@a.AccountNumber" id="@a.AccountNumber">
                    <label class="btn btn-outline-primary text-start" for="@a.AccountNumber">
                        <span class="row p-1">
                            <span class="col">
                                @a.AccountType<br>
                                @a.AccountNumber<br>
                            </span>
                            <span class="col">
                                @Html.DisplayNameFor(x => a.Balance)<br>
                                @Html.DisplayFor(x => a.Balance)
                            </span>
                            <span class="col">
                                @Html.DisplayNameFor(x => a.AvailableBalance)<br>
                                @Html.DisplayFor(x => a.AvailableBalance)
                            </span>
                        </span>
                    </label>
                }
            </div>
            <span asp-validation-for="AccountNumber" class="text-danger mt-2 d-block"></span>
        </fieldset>
        <fieldset class="mb-4">
            <legend class="h4">To</legend>
            <label asp-for="PayeeID" class="control-label mb-2"></label>
            <input asp-for="PayeeID" class="form-control">
            <span asp-validation-for="PayeeID" class="text-danger mt-2 d-block"></span>
        </fieldset>
        <fieldset>
            <legend class="h4">Details</legend>
            <div class="mb-3">
                <label asp-for="Amount" class="control-label mb-2"></label>
                <div class="input-group">
                    <div class="input-group-text">$</div>
                    <input asp-for="Amount" class="form-control">
                </div>
                <span asp-validation-for="Amount" class="text-danger mt-2 d-block"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ScheduledTimeLocal" class="control-label mb-2"></label>
                <input asp-for="ScheduledTimeLocal" class="form-control">
                <span asp-validation-for="ScheduledTimeLocal" class="text-danger mt-2 d-block"></span>
            </div>
            <fieldset>
                <legend class="col-form-label mb-2 p-0">@Html.DisplayNameFor(x => Model.Period)</legend>

                <div class="btn-group" role="group">
                    @foreach (Period p in System.Enum.GetValues(typeof(Period)))
                    {
                        <input class="btn-check" type="radio" asp-for="Period" value="@((int)p)" id="@((int)p)">
                        Period period = (Period)p;
                        <label class="btn btn-outline-primary" for="@((int)p)">@Html.DisplayFor(x => period)</label>
                    }
                </div>
                <span asp-validation-for="Period" class="text-danger mt-2 d-block"></span>
            </fieldset>
        </fieldset>
        <hr class="my-4" style="opacity: 100; border-top-color: #dee2e6;">
        <div class="mt-2 d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-outline-primary" asp-action="Index">Cancel</a>
            <button type="submit" class="btn btn-primary">Continue</button>
        </div>
    </form>
</div>