@model ProfileViewModel
@{ ViewData["Title"] = "Profile"; }

<div class="border rounded p-5">
    <h1 class="mb-5">Profile</h1>
    @if (@ViewBag.DisplayEditDetailsSuccess)
    {
        <div class="alert alert-success mb-4" role="alert">Profile updated successfully.</div>
    }
    @if (ViewBag.DisplayChangePasswordSuccess)
    {
        <div class="alert alert-success mb-4" role="alert">Password updated successfully.</div>
    }
    @if (ViewBag.DisplayUploadProfilePictureSuccess)
    {
        <div class="alert alert-success mb-4" role="alert">Profile picture updated successfully.</div>
    }
    @if (ViewBag.DisplayRemoveProfilePictureSuccess)
    {
        <div class="alert alert-success mb-4" role="alert">Profile picture removed successfully.</div>
    }
    <div class="row">
        <div class="col-md-6">
            @if (Model.ProfilePicture is null)
            {
                <img style="width: 300px; height: 300px; object-fit: cover;" class="rounded"
                     alt="Profile picture" src="@Url.Content("../ProfilePictures/default.png")">
                <a asp-action="UploadProfilePicture" class="d-block mt-3 mb-5">Upload profile picture</a>
            }
            else
            {
                <img style="width: 300px; height: 300px; object-fit: cover;" class="rounded"
                     alt="Profile picture" src="@Url.Content($"../ProfilePictures/{Model.ProfilePicture}")">
                <a asp-action="RemoveProfilePicture" class="d-block mt-3 mb-5">Remove profile picture</a>
            }
        </div>
        <div class="col-md-6">
            <h4>Details</h4>
            <dl class="row mb-2">
                <dt class="col-4">@Html.DisplayNameFor(x => Model.Name)</dt>
                <dd class="col-8">@Model.Name</dd>
                <dt class="col-4">@Html.DisplayNameFor(x => Model.TFN)</dt>
                @if (Model.TFN is null)
                {
                    <dd class="col-8">-</dd>
                }
                else
                {
                    <dd class="col-8">@Model.TFN</dd>
                }
                <dt class="col-4">@Html.DisplayNameFor(x => Model.Address)</dt>
                @if (Model.Address is null)
                {
                    <dd class="col-8">-</dd>
                }
                else
                {
                    <dd class="col-8">@Model.Address</dd>
                }
                <dt class="col-4">@Html.DisplayNameFor(x => Model.City)</dt>
                @if (Model.City is null)
                {
                    <dd class="col-8">-</dd>
                }
                else
                {
                    <dd class="col-8">@Model.City</dd>
                }
                <dt class="col-4">@Html.DisplayNameFor(x => Model.State)</dt>
                @if (Model.State is null)
                {
                    <dd class="col-8">-</dd>
                }
                else
                {
                    <dd class="col-8">@Model.State</dd>
                }
                <dt class="col-4">@Html.DisplayNameFor(x => Model.PostCode)</dt>
                @if (Model.PostCode is null)
                {
                    <dd class="col-8">-</dd>
                }
                else
                {
                    <dd class="col-8">@Model.PostCode</dd>
                }
                <dt class="col-4">@Html.DisplayNameFor(x => Model.Mobile)</dt>
                @if (Model.Mobile is null)
                {
                    <dd class="col-8">-</dd>
                }
                else
                {
                    <dd class="col-8">@Model.Mobile</dd>
                }
            </dl>
            <a asp-action="EditDetails">Edit details</a>

            <h4 class="mt-5">Password</h4>
            <a asp-action="ChangePassword">Change password</a>
        </div>
    </div>  
</div>