@model CustomerApplication.Models.TransactionViewModel
@{ ViewData["Title"] = Model.TransactionType; }

<h1>@Model.TransactionType</h1>
<form asp-action="@Model.TransactionType">
    <input type="hidden" asp-for="TransactionType">
    <div class="mb-3">
        @foreach (var account in Model.AccountsViewModel)
        {
            <input type="radio" asp-for="AccountNumber" value="@account.AccountNumber" id="@account.AccountNumber" class="btn-check" autocomplete="off">
            <label class="btn btn-outline-primary w-100 text-start" for="@account.AccountNumber">
                <span class="row">
                    <span class="col">
                        @account.AccountType<br>
                        @account.AccountNumber<br>
                    </span>
                    <span class="col">
                        @Html.DisplayNameFor(x => account.Balance)<br>
                        @Html.DisplayFor(x => account.Balance)
                    </span>
                    <span class="col">
                        @Html.DisplayNameFor(x => account.AvailableBalance)<br>
                        @Html.DisplayFor(x => account.AvailableBalance)
                    </span>
                </span>
            </label>
            <br>
        }
        <span asp-validation-for="AccountNumber" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Amount" class="control-label"></label>
        <div class="input-group">
            <div class="input-group-text">$</div>
            <input asp-for="Amount" class="form-control">
        </div>
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Comment" class="control-label mb-2"></label><span> (optional)</span>
        <input asp-for="Comment" class="form-control">
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Continue</button>
    </div>

</form>
<a asp-action="Index">Go back to Accounts</a>