@model List<CustomerApplication.Models.AccountViewModel>
@{ ViewData["Title"] = "Accounts"; }

<div>
    <h1>My Accounts</h1>
    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(x => x[0].AccountNumber)</th>
                    <th scope="col">@Html.DisplayNameFor(x => x[0].AccountType)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var account in Model)
                {
                    <tr>
                        <td>@account.AccountNumber</td>
                        <td>@account.AccountType</td>
                        <td><a class="btn btn-primary" asp-action="Deposit" asp-route-id="@account.AccountNumber">Deposit</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>You have no accounts to display.</p>
    }
</div>
